/* стили хэдера */
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1440px;
  border-bottom: 0.5px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  transition: border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

  padding: 24px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.site-title {
  width: auto;
  height: auto;
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 30px;
  align-items: center;
}
.navbar-language-select {
  padding: 4px 10px;
  border-radius: 30px;
  background-color: white;
  appearance: none;
  outline: none;
  width: fit-content;
  min-width: 65px;

  color: black;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  height: fit-content;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.language_img {
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* стили хэдера */

/* чучут чтобы плавно тыкалось */
.site-title,
.navbar-link,
.navbar-language-select,
.language-droplist-item {
  transition: background-color 0.2s ease, transform 0.1s ease;
  cursor: pointer;
}
.site-title:active,
.navbar-link:active,
.navbar-language-select:active,
.language-droplist-item:active {
  transform: scale(0.9);
}
/* чучут чтобы плавно тыкалось */

/* чучут чтобы при тыканьи текст не выделялся, а то это раздражает */
.site-title,
.navbar-link,
.navbar-language-select,
.language-select-droplist {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* чучут чтобы при тыканьи текст не выделялся, а то это раздражает */

/* стили выпадающего списка селектора */
.language-select-droplist {
  width: max-content;
  height: fit-content;
  backdrop-filter: blur(14px);
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 20px;
  margin: 24px;
  padding: 16px;

  position: absolute;
  top: 45%;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.language-droplist-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
/* стили выпадающего списка селектора */
