.get-invite-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  transition: background-color 0.2s ease, transform 0.1s ease;
  cursor: pointer;
  position: relative;
}
.get-invite-btn.white {
  margin-bottom: 32px;
}
.get-invite-btn:active {
  transform: scale(0.9);
}
.get-invite-btn-text {
  color: black;
  font-weight: 600;
  font-size: 18px;
  font-family: "Inter", sans-serif;

  background-color: white;
  min-width: 240px;
  padding: 15px 12px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-invite-btn-text.black {
  color: white;
  background-color: black;
}
.get-invite-btn-ellipses {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

@media (max-width: 768px) {
  .get-invite-btn.white{
    width: 100%;
  }
  .get-invite-btn-text.white{
    width: 90%;
  }
}
